@charset "utf-8";
/*css reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section,source,time {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Clear Fix */
.clearfix:after {
content:".";
display:block;
height:0;
clear:both;
visibility:hidden;
}
.clearfix {display:block;}
*html .clearfix{height: 1%}
a{ text-decoration:none;}
input{border: 0;}
p{margin:0;padding:0;}
/*文字排版*/
.tc{text-align: center;}
.tl{text-align: left;}
.fb{font-weight: bold;}
.fn{font-weight: normal;}
.ft12{font-size:12px;}
.ft13{font-size:13px;}
.ft14{font-size:14px;}
.ft15{font-size:15px;}
.ft16{font-size:16px;}
.ft17{font-size:17px;}

.cor3{color:#333;}
.cor4{color:#444;}
.cor6{color:#666;}
.cor9{color:#999;}
.mg10{ margin:10px; }
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mt40{margin-top:40px;}
.mt50{margin-top:50px;}
.ml10{margin-left:10px;}
.mr10{margin-right:10px;}
.mb10{margin-bottom:10px;}
.pd10{padding:10px;}
.pl10{padding-left:10px;}
.pr10{padding-right:10px;}


/*背景*/
.bgGreyTitle{background:#e6e6e6;}
/*圆角*/
.radius3{-moz-border-radius:3px; -webkit-border-radius:3px; -o-border-radius:3px;border-radius:3px;}
.radius4{-moz-border-radius:4px; -webkit-border-radius:4px; -o-border-radius:4px;border-radius:4px;}
.radius6{-moz-border-radius:6px; -webkit-border-radius:6px; -o-border-radius:6px;border-radius:6px;}


/**/
.bgWhite{border:1px solid #d4d4d4;background: #fff;}

/*透明度*/
.opacity5{opacity: 0.5;filter: "alpha(opacity=50)";filter: alpha(opacity=50);zoom: 1; }


/*定位*/
.tl{text-align: left;}
.tc{text-align: center;}
.posTop{position:fixed;top:0;left:0;right:0;z-index:2;}
.pstBottom{position:fixed;bottom:0;left:0;right:0;z-index:1;}
.posBottom{position:fixed;bottom:0;left:0;right:0;z-index:1;}

/*头部*/
.header{height: 42px;width:100%;overflow:hidden;position:relative;z-index: 1;border-top-width: 1px;border-bottom-width: 1px;border-top-style: solid;border-bottom-style: solid;}
.header .standBack{height: 30px;width:30px;margin:9px 0 0 16px;position:absolute;left:0;top:0;}
.header .controllerBtn{height: 30px;width:30px;position:absolute;right:0;top:0;margin:0;}
.header .favorite{margin: 6px 15px 0 14px;}
.header .mainTitle{text-align: center;font-size: 16px;height:42px;line-height: 42px;color:#fff;}


/*无结果页*/
.dcIts-noResult{}
.dcIts-building{}

.dcIts-diyMap{}

body{font-family: "Helvetica Neue", Helvetica;background:#f7f7f7;}
.dc-mobile-wrapper{-webkit-text-size-adjust: none;-webkit-user-select: none;user-select: none;font-family: "Helvetica Neue", Helvetica;position: absolute;right: 0;top: 0;left: 0;bottom: 0;}


/* 当有重复样式时，最后一个没有某个样式的情况 */
.noBr{ border-right:none;}

/*文字对齐方式*/
.fontLeft{ text-align:left;}
.fontRight{ text-align:right;}
.fontCenter{ text-align:center;}
/*遮罩层*/
.dc-widget-shadow{ position:fixed; z-index:100; top:0; right:0; bottom:0; left:0; width:100%; height:100%; background:#000; -ms-filter:progid:DXImageTransform.microsoft.alpha(opacity = 50); filter:alpha(opacity = 50); opacity:0.5; }
.loading{background: url(../images/loading.gif) no-repeat;width:32px;height: 32px;z-index: 1000;position: absolute;top: 45%;left: 50%;margin-left: -16px;}